* {
  padding: 0;
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
}
.gradient-section {
  background-image: linear-gradient(to right, orange, violet, indigo);
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0rem 12rem;
}
button {
  border-radius: 100px;
  border: solid white 2px;
  padding: 8px;
  color: white;
  background-color: transparent;
  font-size: 1.25rem;
}
.contact {
  font-size: 1.1rem;
  color: white;
}
.socialicons {
  display: flex;
  border: white;
  border-width: 2px;
  border-style: none solid none none;
 
}
.socialicons a {
  text-decoration: none;
  text-align: center;
  height: 2rem;
  width: 1.5rem;
  padding: 6px;
  color: white;

  border-width: 2px;
  border-style: none none none solid;
}
nav {
  display: flex;
  justify-content: space-between;
  padding-left: 8rem;
  padding-right: 8rem;
}

#links {
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  text-decoration: none;
}
main {
  background-image: url("main.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  background-repeat: no-repeat;
  height: 60vh;
}
.content-section{
  padding: 3rem;
}
footer {
  background-color: #f472b650;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
}
