@tailwind base;
@tailwind components;
@tailwind utilities;

ul li a {
  display: block;
}
ul li ul.dropdown li {
  display: block;
}
ul li ul.dropdown {
  display: none;
}

ul li:hover ul.dropdown {
  display: block;
} 