*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
.calculator {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  font-size: 2rem;
  font-weight: 400;
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 70vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(120px, auto) repeat(5, 1fr);
  width: 400px;
}

button {
  cursor: pointer;
  border: 1px solid white;
  outline: none;
}

button:hover {
  background-color: rgb(41, 170, 170);
}

.double {
  grid-column: span 2;
}
.screen {
  padding: 1rem; 
  color: white;
  background-color: #242424;
  font-family: "Share Tech Mono", monospace;
  font-size: 1.5rem;
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: 1fr;
  word-wrap: break-word;
  word-break: break-all;
}

.previous-operand,
.current-operand {
  display: grid;
  justify-content: right;
}

[data-operation], [data-equals] {
  color:white;
  background-color: teal;
}
[data-operation]:hover, [data-equals]:hover {
  color:teal;
  background-color: #f97316;
}